:root {
  --vp-home-hero-name-color: #008CFF;
  --vp-c-brand-1: #008CFF;
  --vp-c-brand-2: #0077d9;
  --vp-c-brand-3: #0066bd;
  --vp-c-brand-soft: rgba(0, 140, 255, 0.14);
}

.VPNavBarTitle .title {
  font-size: 24px !important;
  font-weight: 600 !important;
}

.VPNavBar .logo {
  width: 28px !important;
  height: 28px !important;
}

.VPHero .text {
  font-size: 24px !important;
  line-height: 1.2 !important;
}

@media (min-width: 640px) {
  .VPHero .text {
    font-size: 28px !important;
  }
}

@media (min-width: 960px) {
  .VPHero .text {
    font-size: 32px !important;
  }
}

.VPHero .VPImage {
  max-width: 320px;
  max-height: 320px;
}

@media (min-width: 640px) {
  .VPHero .VPImage {
    max-width: 400px;
    max-height: 400px;
  }
}

@media (min-width: 960px) {
  .VPHero .VPImage {
    max-width: 480px;
    max-height: 480px;
  }
}
